* {
  margin: 0;
  padding: 0; }

.heading {
  font-size: 4rem; }

@media screen and (max-width: 900px) {
  .heading {
    font-size: 3.5rem; } }

@media screen and (max-width: 600px) {
  .heading {
    font-size: 2.2rem; } }

body {
  background-color: tan; }

@media screen and (max-width: 900px) {
  body {
    background-color: blue; } }

@media screen and (max-width: 600px) {
  body {
    background-color: olive; } }
